table {
    border: 3px solid #999;
}

.dark {
    background-color: #666;
}

div > div {
    background-color: goldenrod;
}

tr:nth-child(2) {
    background-color: yellow;
}

tr:last-child {
    background-color: navy;
}

div {
    padding: 1rem;
    background-color: skyblue;
    border: 4px dashed #999;
}

/* #row2 ~ tr {
    background-color: royalblue;
} */

table tr:hover {
    background-color: red;
}

.this-is {
    display: grid;
}