.panel {
    background-image: url('../images/klematis.jpg');
    padding: 2rem;
}

.inner {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem
}